main {
  margin: auto;
  margin-top: 2rem;
  height: auto;
  width: 100%;
  text-align: center;
  padding-bottom: 10rem;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

app-footer {
  bottom: 0;
  width: 100%;
  position: absolute;
}
